@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

/***************DEFAULTS*****************/

:root {
  --grey-two:rgb(31, 31, 31);
  --white-one:rgb(255, 255, 255);
  --blue-one: rgb(85, 255, 226);
  --blue-two: rgb(0, 230, 191);
  --pink-one: rgb(255, 80, 164);
  --purple-one: rgb(80, 56, 94);

  --ff-title: "Shadows Into Light Two", cursive;
  --ff-text: Helvetica, sans-serif;

  --borders-one: 4px;
  --borders-two: 8px;
  --space-btw: 6rem;

  --fs-xxl: clamp(3rem, 6vw + 1rem, 12rem);
  --fs-xl: clamp(3rem, 4vw + 1rem, 10rem);
  --fs-xs: clamp(2.5rem, 3vw + 1rem, 8rem);
  --fs-s: clamp(1rem, 1vw + 1rem, 2rem);
  --fs-titles: 2rem;
  --fs-sub-tittles: 1.6rem;
  --fs-highlights: 1.2rem;
  --fs-text: 1.1rem;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: var(--ff-text);
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: var(--roboto400);
}

*::before,
*::after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-one); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-two); 
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body, html {
  background: var(--white-one);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--grey-two);
}
::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
  font-family: var(--ff-title);
  letter-spacing: 2px;
  font-weight: 800;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgba(0, 0, 0, 0.2);
  font-family: var(--ff-title);
  letter-spacing: 2px;
  font-weight: 800;
}

/****************************************/




/***************KEYFRAMES****************/
@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
}

/***************************************/



/*************MEDIAQUERIES**************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/

}

@media (max-width: 768px) {

}

@media (max-width: 576px) { /*1 REM padding*/

}

@media (max-width: 480px) {

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {

  
}

/**************************************/